{% if page.name == 'home' %}
  <footer class="home">
    <a href="http://try.discourse.org" class="btn-big">尝试 Discourse！</a>
{% else %}
  <footer>
{% endif %}
  <section id="foot">
    <div class="links">
      <a href="/">
        <img src="{{ site.baseurl }}/public/images/icon-tiny.png" width="24" height="24" alt="Discourse">
      </a> <a href="/about/">关于</a> | <a href="/faq/">问与答</a> | <a href="http://blog.discourse.org">英文官方博客</a> | <a href="http://try.discourse.org">试用</a> | <a href="https://payments.discourse.org/buy/">购买</a> | <a href="http://meta.discoursecn.org">中文论坛</a> | <a href="http://twitter.com/discourse">@discourse</a>
    </div>
    <p>内容以<a href="http://creativecommons.org/licenses/by-nc-sa/3.0/">创作共用3.0 署名-非商业-相同方式分享</a>发布。Discourse logo 和 “Discourse Forum” ® 为 Civilized Discourse Construction Kit, Inc 的注册商标，中文站点是其的翻译版本。</p>
    <p><a href="http://www.youtube.com/watch?v=Xe1TZaElTAs">Built with love, Internet style</a></p>
  </section>
</footer>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-36993160-1', 'auto');
  ga('send', 'pageview');

</script>
