<nav id="bar">
  <div class="nav-inner">
    <ul>
      <li class="nav-link">
        <a href="{{ site.base_url }}/"><img src="{{ site.base_url }}/public/images/nav-icon-gray.png" width="64" height="45" alt="logo"></a>
      </li>
      <li class="nav-link red">
        <a href="{{ site.base_url }}/about">关于</a>
      </li>
      <li class="nav-link orange">
        <a href="{{ site.base_url }}/faq">问与答</a>
      </li>
      <li class="nav-link yellow">
        <a href="http://blog.discourse.org/">官方博客</a>
      </li>
      <li class="nav-link green">
        <a href="http://try.discourse.org">尝试</a>
      </li>
      <li class="nav-link blue">
        <a href="https://buy.discourse.org">官方购买</a>
      </li>
      <li class="nav-link grey">
        <a href="https://meta.discoursecn.org">中文论坛</a>
      </li>
    </ul>
    <a class="fork-us" href="http://github.com/discourse/discourse"><i class="fa fa-github-alt"></i>&nbsp;参与开发</a>
  </div>
</nav>
