<footer class="home">
  <a href="http://try.discourse.org" class="btn-big">Try Discourse!</a>
  <section id="foot">
    <div class="links">
      <a href="/">
        <%= image_tag 'icon-tiny.png', size: '24x24', alt: 'discourse' %>
      </a> <a href="/about/">About</a> | <a href="/faq/">FAQ</a> | <a href="http://blog.discourse.org">Blog</a> | <a href="http://try.discourse.org">Try It</a> | <a href="https://payments.discourse.org/buy">Buy It</a> | <a href="http://meta.discourse.org">Meta</a> | <a href="http://www.discourse.org/privacy-policy">Privacy</a> | <a href="http://twitter.com/discourse">@discourse</a>
    </div>
    <p>Content is <a href="http://creativecommons.org/licenses/by-nc-sa/3.0/">by-nc-sa</a>, Discourse logo and “Discourse Forum” ®, Civilized Discourse Construction Kit, Inc.</p>
    <p><a href="http://www.youtube.com/watch?v=Xe1TZaElTAs">Built with love, Internet style</a></p>
  </section>
</footer>
