<nav id="bar">
  <div>
    <a class="nav-link selected" href="/">
      <%= image_tag 'nav-icon-gray.png', size: '64x45', alt: 'logo' %>
    </a>
    <a class="nav-link red" href="/about">关于</a>
    <a class="nav-link orange" href="/faq">问与答</a>
    <a class="nav-link yellow" href="http://blog.discourse.org/">官方博客</a>
    <a class="nav-link green" href="http://try.discourse.org">试验</a>
    <a class="nav-link blue" href="/buy">购买</a>
    <a class="nav-link grey" href="http://meta.discoursecn.org">中文论坛</a>
    <a class="fork-us" href="http://github.com/discourse/discourse"><span class="fa fa-github-alt"></span>&nbsp;参与开发</a>
  </div>
</nav>
