<nav id="bar">
  <div>
    <a class="nav-link selected" href="/">
      <%= image_tag 'nav-icon-gray.png', size: '64x45', alt: 'logo' %>
    </a>
    <a class="nav-link red" href="/about/">About</a>
    <a class="nav-link orange" href="/faq/">FAQ</a>
    <a class="nav-link yellow" href="http://blog.discourse.org">Blog</a>
    <a class="nav-link green" href="http://try.discourse.org">Try It</a>
    <a class="nav-link blue" href="https://payments.discourse.org/buy">Buy It</a>
    <a class="nav-link grey" href="http://meta.discourse.org">Meta</a>
    <a class="fork-us" href="http://github.com/discourse/discourse"><i class="fa fa-github-alt"></i>&nbsp;Fork Us</a>
  </div>
</nav>
