<nav id="bar">
  <div>
    <a class="nav-link selected" href="http://www.discourse.org">
      <%= image_tag 'nav-icon-gray.png', size: '64x45', alt: 'logo' %>
    </a>
    <a class="nav-link red" href="/about/">About</a>
    <a class="nav-link orange" href="/faq/">FAQ</a>
    <a class="nav-link yellow" href="http://blog.discourse.org">Blog</a>
    <a class="nav-link green" href="http://try.discourse.org">Try It</a>
    <a class="nav-link blue" href="https://payments.discourse.org/buy">Buy It</a>
    <a class="nav-link grey" href="http://meta.discourse.org">Meta</a>
    <a class="fork-us" href="http://github.com/discourse/discourse"><i class="fa fa-github-alt"></i>&nbsp;Fork Us</a>
  </div>
</nav>
<header>
  <div class="biglogo">
    <div class="onepointoh">
      <span class="new rainbows">New!</span>
      <i class="fa fa-certificate"></i>
      <span class="version rainbows">1.0</span>
    </div>
    <%= image_tag 'logo.png', size: '512x150', alt: 'Discourse logo' %>
  </div>
  <h1>Civilized Discussion. On the Internet.</h1>
  <div id="tabs">
    <a href="/about/">
      <span>Free</span>
      <span class="middle">Open</span>
      <span>Simple</span>
    </a>
  </div>
  <div id="try">
    <a href="http://try.discourse.org" class="btn-big">Try Discourse!</a>
  </div>
</header>
