<%= content_for(:title, title_helper('关于')) %>

<%= render 'shared/header' %>


<div class="container">
<article id="why" style="margin-bottom:-60px;">
  <div class="row">
    <h1 class="intro">One of the primary <a href="/about/why.html">goals of Discourse</a> is simplicity. Underneath that surface simplicity are features designed to help communities not just survive, but <i>thrive:</i></h1>
  </div>
</article>
<table class="feature-matrix">
<tbody>
<tr>
  <td class="feature">
    <span>100% Open Source</span>
    <p>Incorporate Discourse into your site with complete confidence – the code belongs to everyone.</p>
  </td>
  <td class="feature">
    <span>Trust System</span>
    <p>As members become trusted regulars over time, they earn abilities to help maintain their community.</p>
  </td>
</tr>
<tr>
  <td class="feature">
    <span>Mobile and Tablet</span>
    <p>Designed for touch devices from day one. Automatic mobile and touch layouts that scale to fit your device.</p>
  </td>
  <td class="feature">
    <span>Community Moderation</span>
    <p>Flagging system lets the community suppress spam and dangerous content, and amicably resolve disputes on their own.</p>
  </td>
</tr>
<tr>
  <td class="feature">
    <span>Optimized for Reading</span>
    <p>To keep reading, just keep scrolling. When you reach the bottom, suggested topics keep you reading.</p>
  </td>
  <td class="feature">
    <span>Likes</span>
    <p>Express agreement, support, and highlight interesting posts with the prominent ❤ button on every post.</p>
  </td>
</tr>
<tr>
  <td class="feature">
    <span>Summarize Topics</span>
    <p>Use the Summarize button to condense long topics to just the most interesting and popular posts.</p>
  </td>
  <td class="feature">
    <span>Inline Context</span>
    <p>Expand quotes, expand replies, or expand what this was in reply to.</p>
  </td>
</tr>
<tr>
  <td class="feature">
    <span>Translations</span>
    <p>Translations are available for <a href="https://www.transifex.com/projects/p/discourse-org/">17 languages and counting</a>. Users can switch to the language of their choice as a preference.</p>
  </td>
  <td class="feature">
    <span>Real Time Notifications</span>
    <p>Know when someone replies to you, quotes you, mentions your @name, sends you a private message, links to your post, edits your post, or recategorizes your topic.</p>
  </td>
</tr>
<tr>
  <td class="feature">
    <span>SEO</span>
    <p>Friendly, human readable URLs and clean HTML. Optimized for Google indexing and searching.</p>
  </td>
  <td class="feature">
    <span>Plugins</span>
    <p>If you need custom functionality unique to your site, take advantage of our plugin support.</p>
  </td>
</tr>
<tr>
  <td class="feature">
    <span>Single Sign On</span>
    <p>Seamlessly integrate Discourse with your existing site's login system.</p>
  </td>
  <td class="feature">
    <span>Overlay Editor</span>
    <p>Compose with an overlay editor which never interrupts your reading – even if you navigate to a different topic.</p>
  </td>
</tr>
<tr>
  <td class="feature">
    <span>Social Login</span>
    <p>Easily add Google, Facebook, Twitter, Yahoo, GitHub, and other common social logins.</p>
  </td>
  <td class="feature">
    <span>Private Communities</span>
    <p>Make your entire site private, or just certain categories.</p>
  </td>
</tr>
<tr>
  <td class="feature">
    <span>Blog Integration</span>
    <p>Use our <a href="https://github.com/discourse/wp-discourse">WordPress plugin</a> to integrate a Discourse community into your blog. Or <a href="http://eviltrout.com/2014/01/22/embedding-discourse.html">embed Discourse</a> into static HTML sites.</p>
  </td>
  <td class="feature">
    <span>One Click Upgrades</span>
    <p>Automatic notification of new versions in the dashboard, with a one-click web upgrade process.</p>
  </td>
</tr>
<tr>
  <td class="feature">
    <span>Rate Limits</span>
    <p>Rate and content limits for all user actions; stricter for new users.</p>
  </td>
  <td class="feature">
    <span>Easy Spam Cleanup</span>
    <p>Two click spammer delete, email + IP ban, and auto-removal of all content.</p>
  </td>
</tr>
<tr>
  <td class="feature">
    <span>Spam Blocking</span>
    <p>Comprehensive spam blocking heuristics including new user sandboxing, user flag blocking, and standard nofollow.</p>
  </td>
  <td class="feature">
    <span>Analytics</span>
    <p>Dashboard for staff that shows key stats on users, topics, and all user actions – along with top referring domains and topics.</p>
  </td>
</tr>
<tr>
  <td class="feature">
    <span>Automatic URL Embedding</span>
    <p>URLs to popular websites like Wikipedia and YouTube will include an inline summary. We fully support OpenGraph and oEmbed.</p>
  </td>
  <td class="feature">
    <span>Advanced Image Handling</span>
    <p>Add images through upload, drag and drop, or copy and paste. Large images automatically thumbnailed and lightboxed.</p>
  </td>
</tr>
<tr>
  <td class="feature">
    <span>File Attachments</span>
    <p>Include arbitrary file attachments of any allowed file type or file size in your posts.</p>
  </td>
  <td class="feature">
    <span>Link Tracking</span>
    <p>External links are shown with a visible click counter. Incoming and outgoing links to other topics are displayed next to each post.</p>
  </td>
</tr>
<tr>
  <td class="feature">
    <span>Polls</span>
    <p>Create quick poll topics for the community to vote on.</p>
  </td>
  <td class="feature">
    <span>Spoilers</span>
    <p>Tags that blur potential spoilers, revealing only on click or tap.</p>
  </td>
</tr>
<tr>
  <td class="feature">
    <span>Flexible Formatting</span>
    <p>Mix and match Markdown, BBCode, and HTML formatting in posts.</p>
  </td>
  <td class="feature">
    <span>Emoji</span>
    <p>Just start typing : and you have access to the
      complete list of <a href="http://www.emoji-cheat-sheet.com/">standard emoji</a>.
    </p>
  </td>
</tr>
<tr>
  <td class="feature">
    <span>Comprehensive API</span>
    <p>Anything you see on screen, you can also do via an API call. Discourse itself is a JavaScript app that talks to our API.</p>
  </td>
  <td class="feature">
    <span>Local Avatars</span>
    <p>Built-in local avatar generation with no external dependencies. Alternately, select an existing Gravatar, or upload a custom avatar.</p>
  </td>
</tr>
<tr>
  <td class="feature">
    <span>Email Invitations</span>
    <p>Trusted users can invite friends via email to join and reply with a single click. Admins can batch invite users by uploading email addresses.</p>
  </td>
  <td class="feature">
    <span>Automatic Drafts</span>
    <p>We auto-save replies and topics to the server in the background as you type.</p>
  </td>
</tr>
<tr>
  <td class="feature">
    <span>Revision History</span>
    <p>Revision tracking on every edit, with a visual difference highlighter to show changes.</p>
  </td>
  <td class="feature">
    <span>Wiki Posts</span>
    <p>Mark posts as collaboratively editable by any trusted member of the community.</p>
  </td>
</tr>
<tr>
  <td class="feature">
    <span>Badges</span>
    <p>Encourage positive community behaviors through the included set of badges, or add your own custom badges.</p>
  </td>
  <td class="feature">
    <span>Email Notifications</span>
    <p>When you aren't active on the website, your notifications will be automatically sent to you via email.</p>
  </td>
</tr>
<tr>
  <td class="feature">
    <span>Email Replies</span>
    <p>Reply to email notifications to post without visiting the website.</p>
  </td>
  <td class="feature">
    <span>Inline Moderation</span>
    <p>Fast inline controls to split, merge, close, archive, or recategorize topics. </p>
  </td>
</tr>
<tr>
  <td class="feature">
    <span>Flag Queue</span>
    <p>Highly visible moderator flag queue with optional email notification. One click to agree, disagree, or defer flags. Complete history.</p>
  </td>
  <td class="feature">
    <span>Site-Wide Notifications</span>
    <p>Pin topics locally or globally. Banner a topic to have it appear as a dismissable banner for all users. Add a permanent alert for urgent situations.</p>
  </td>
</tr>
<tr>
  <td class="feature">
    <span>Mailing List Support</span>
    <p>Opt into a special mode where all messages are sent to you via email, exactly like a mailing list. Start new topics via email.</p>
  </td>
  <td class="feature">
    <span>Community Hub</span>
    <p>Official community support hub at <a href="http://meta.discourse.org">meta.discourse</a> to discuss features, bugs, and support requests.</p>
  </td>
</tr>
<tr>
  <td class="feature">
    <span>Private Messaging</span>
    <p>Send private messages to a single user or to groups of users.</p>
  </td>
  <td class="feature">
    <span>Web Backup and Restore</span>
    <p>Backup and restore all your site data from your browser. Take your data to any host, anywhere, in a few clicks.</p>
  </td>
</tr>
<tr>
  <td class="feature">
    <span>Automated Backups</span>
    <p>Automatically back up your site data every day, either to the local filesystem, or to the cloud.</p>
  </td>
  <td class="feature">
    <span>CDN Support</span>
    <p>Easily plug in any CDN provider to speed up global access to your site.</p>
  </td>
</tr>
</tbody>
</table>
</div>
