<%= content_for(:title, title_helper('购买')) %>

<%= render 'shared/header' %>

<article id="buy">
  <section>
    <div class="row">
      <h1>官方托管 & 安装服务</h1>
      <p>Discourse 官方提供了<a href="https://payments.discourse.org/buy/" target="_blank">托管和安装至 Digital Ocean 的服务</a>。</p>
    </div>
    <div class="row">
      <h1>安装服务</h1>
      <p>中文网在论坛里提供适合国情的教程。同时也提供付费安装至国内云的服务。</p>
      <p>详询：fantasticfears [AT] gmail.com</p>
    </div>
  </section>
</article>
